.flexContainer{
    display: flex;
}
.logo {
width: 23%;
padding: 1%;
text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

nav li {
    padding: 50px;
    list-style: none;
}

ul {
    width: 50%;
    margin-left: auto;
    padding: 2%;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    height: 500px;
    margin: 0 auto;
}

footer {
    height: 50px;
    margin: 0 auto;
    background-color: #373738;
}

.mainPhoto {
    width: 200px;
}

.website {
    width:30px;
}

.email {
    width:30px;
}

.phone {
    width:30px;
}

.linkedin {
    width:30px;
}

.travelAppPic {
    width: 200px;
}

.governmentRedesign {
    width: 25%;
}

.nonprofitRedesign {
    width: 25%;
}